<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.biking-keyboard-remap</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/open</string>
		<string>-W</string>
		<string>/Users/jonzeolla/Applications/BikingKeyboardRemap.app</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>AssociatedBundleIdentifiers</key>
	<string>local.biking-keyboard-remap</string>
	<key>StandardOutPath</key>
	<string>/tmp/biking-keyboard-remap.stdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/biking-keyboard-remap.stderr</string>
</dict>
</plist>
