<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
  Place this in /Users/CHANGEME/Library/LaunchAgents/local.CHANGEME.plist to open an app on login
  However it's typically much easier manage startup programs via System Preferences > Users & Groups > Login Items
-->
<dict>
        <key>Label</key>
        <string>local.CHANGEME</string>
        <key>ProgramArguments</key>
        <array>
                <string>open</string>
                <string>-W</string>
                <string>/Applications/CHANGEME.app</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/tmp/local.CHANGEME.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/local.CHANGEME.stderr</string>
</dict>
</plist>
